@font-face {
	font-family: Pompadur;
	src: url(/fonts/index.otf);
  }
  @font-face {
	  font-family: Flow;
	  src: url(/fonts/Flow.otf);
	 }
  @font-face {
	  font-family: Montserratt;
	  src: url(/fonts/Montserrat-Bold.otf);
  }
@font-face {
  font-family: OpenSans;
  src: url(/fonts/OpenSans-Light.ttf);
}